body {
    background: url("../Pictures/lightningbolts.jpg");
    background-size: 1920px 1080px;
    padding-top: 0px
}

.imga {
	
	width: 1100px;
	height:600px;
}
nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 500px;
    background-color: #f1f1f1;
}

h1 {
	font-family: "Arial", Helvetica, sans-serif
	color : white;
}

p {
    font-family: "Verdana", Times, serif;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}